@import "./var";



.content-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    

.content-list__contacts {
     
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title-4 { 
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
    }

}

.img__block {
    width: 280px;
    margin: 20px;
}

&.a {
    color: $accent;
}
}