.splide {
    max-width: 1200px;
    margin: auto;

    .splide__slide {
         
        height: 150px;
        
        
         
    }

    .splide__list-img {

    width:100px;
    margin: 30px 21px;
    
    }
}