  //  Colors var
    
  
    $black:#171718;
    $black-border:#26292D;
    $white:#FFFFFF;
    $purple: #5C62EC;

    $dark-bg: ($black);
    $dark-border: ($black-border);
    $header-text: ($white);
    $accent: ($purple);
    $text-color: ($black);

    


    //  Breakpoints var

    $breakpoint_l: (1199px);
    $breakpoint_sm: (620px);
    $breakpoint_sm2: (638px);
 
